.heading {
  text-align: center;
}

.description {
  text-align: center;
}

.navbar {
  display: flex;
  column-gap: 10px;
}

.navLink {
  padding: 5px;
  font-size: 1.25rem;
  text-decoration: none;
}

.navLink:hover {
  background-color: rgb(220, 220, 226);
}

.itemCardsContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.itemCardImage {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.cardItemContainer {
  display: flex;
  align-items: center;
}

.cardItemSection {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.quantityInput {
  width: 40px;
}
