.heading {
  text-align: center;
}

.description {
  text-align: center;
}

.navbar {
  display: flex;
  column-gap: 10px;
}

.navLink {
  padding: 5px;
  font-size: 1.25rem;
  text-decoration: none;
}

.navLink:hover {
  background-color: rgb(220, 220, 226);
}

.itemCardsContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemCardImage {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.cartContainer {
  width: max(300px, 70%);
  display: flex;
  flex-direction: column;
}

.cardItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardItemTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}

.cardItemSection {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.quantityInput {
  width: 40px;
}

.checkoutButton {
  justify-self: flex-end;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 20px;
  padding: 5px;
}
